{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/recommended",
      "plugin:react-hooks/recommended",
      "plugin:storybook/recommended",
      "prettier"
    ],
    "plugins": ["react-refresh", "prettier"],
    "env": { "browser": true, "es2020": true },
    "ignorePatterns": ["dist", ".eslintrc.cjs"],
    "rules": {
      "react-refresh/only-export-components": [
        "warn",
        { "allowConstantExport": true }
      ],
      "no-console": 1, // Means warning
      "prettier/prettier": 2 // Means error
    }
  }
  